#title {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.div-container {
    height: 500px;
    width: 100%;
    margin-top: 50px;
    
}

.main-sections {
    text-align: center;
}

.navbar {
    
    
}
a {
    color: black;
}

a:visited {
    color: gray;
  }

  a:hover {
    color: pink;
  }

  a:active {
    color: white;
  }